.Text {

}

.default {
    background: white;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.input {
    // visibility: hidden;
    // display: none;
    width: 0;
    height: 0;
    border: none;
    outline: none;
}